{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--CSS File Link-->
    <link rel="stylesheet" type="text/css" href="{% static 'positions/css/styles.css' %}">
    <title>Crypto App</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h2 class="navbar-brand">Crypto Insights</h2>
            <form class="form-inline my-2 my-lg-0 ml-auto" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            </form>
        </nav>

        <div class="text-center">
            <div class="container">
                <p class="lead">Your Ultimate Cryptocurrency Insights.</p>
                <hr class="my-4">
                <div class="text">
                    <p>Keep your finger on the pulse of the crypto world with our extensive data on the top 100 cryptocurrencies ranked by market capitalization. Delve deeper into the realm of digital assets with our curated collection of news articles and expert insights.</p>
                </div>
            </div>
        </div>

        <div style="height: 990px; overflow-y: scroll; background-color:white; color:white;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope='col'>Rank</th>
                        <th scope='col'>Logo</th>
                        <th scope='col'>Name</th>
                        <th scope='col'>Market cap</th>
                        <th scope='col'>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                    {% for obj in data %}
                    <tr>
                        <td>{{obj.market_cap_rank}}</td>
                        <td><img src={{obj.image}} height='70'></td>
                        <td>{{obj.name}}</td>
                        <td>${{ obj.market_cap }}</td>
                        <td>${{obj.current_price}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h3>No data</h3>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <section class="recentNews">
            <div class="newscontainer">
                <h2 class="news-title">Recent News</h2>
            </div>
        </section>

        <main>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for news in newses %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img width="100%" height="225" class="card-img-top" src="{{ news.imageurl }}" alt="{{ news.source }}" style="max-height:200px">
                                <div class="card-body">
                                    <p class="card-text">{{ news.title|truncatechars:'' }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ news.url }}" class="btn btn-sm btn-outline-secondary">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </div>

    <nav class="navbar navbar-dark bg-dark fixed-bottom">
        <div class="container d-flex justify-content-center">
            <a href="#top" class="text-center" style="color:white;">Top of Page</a>
        </div>
    </nav>

    <script>
        // Get the table rows
        const rows = document.querySelectorAll("tbody tr");

        // Get the search input field
        const searchInput = document.querySelector("input[name='search']");

        // Add an event listener to the search input
        searchInput.addEventListener("input", () => {
            const searchTerm = searchInput.value.toLowerCase();
            // Loop through each row in the table
            rows.forEach((row) => {
                const nameColumn = row.querySelector("td:nth-child(3)");
                const name = nameColumn.textContent.toLowerCase();
                if (name.includes(searchTerm)) {
                    // Show the row if it matches the search term
                    row.style.display = "";
                } else {
                    // Hide the row if it does not match the search term
                    row.style.display = "none";
                }
            });
        });
    </script>
</body>
</html>
